<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Flic-Lifx</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <link rel="stylesheet" href="static/main.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h2>Currently Configured Buttons</h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <button class="light-button">Button 1</button>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <button class="light-button">Button 2</button>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <button class="light-button">Button 3</button>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <button class="light-button">Button 4</button>
                    </div>
                </div>
            </div>      
        </div>       
    </body>
</html>
